h2{
    color:rgb(255, 92, 71);
    background-color:black;
}
h3{
        font-size: 20px;
}
h1,h3,h2{
        text-align: center;
}
  
img{
        text-align: center;
}
input{
    
    display: inline-block;
    position: absolute;
}
.cuadrototal{
    height: 700px;
    width: 1400px;
    background-color:whitesmoke;
    position: absolute;
    left: 50%;
    top:0px;
    transform: translateX(-50%);
}
.div_logo{
    height: 350px;
    width: 750px;
    
    position: absolute;
    left: 50%;
    top:30px;
    transform: translateX(-40%);
}
.div_cuerpo{
    height: 450px;
    width: 1000px;
    background-color:transparent;
    position: absolute;
    left: 50%;
    top:200px;
    transform: translateX(-50%);
}
.caja{
    border:none;
    background: transparent;
    border-bottom: 1px solid black;
}
.footer{
    background-color: black;
    padding: 0.0rem 0;
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 20px  0px;
}
