label{
    color:rgb(255, 92, 71);
    font-size: 17px;
}
h3{
    font-size: 20px;
   
}
h3,h1{
    text-align: center;
}
h2{
    font-size: 30px; 
}

input{
    
    display: inline-block;
    position: absolute;
}
.cuadrototal{
    height: 700px;
    width: 800px;
    background-color:whitesmoke;
    position: absolute;
    left: 50%;
    top:0px;
    transform: translateX(-50%);
}
.div_logo{
    height: 350px;
    width: 750px;
    
    position: absolute;
    left: 50%;
    top:30px;
    transform: translateX(-40%);
}
.div_cuerpo{
    height: 450px;
    width: 500px;
    background-color:transparent;
    position: absolute;
    left: 50%;
    top:200px;
    transform: translateX(-50%);
}
img{
    text-align: center;
}
a{
    color:black;
    font-size: 10px;
}
.footer{
    background-color: black;
    padding: 0.0rem 0;
    text-align: center;
    color: white;
    font-size: 12px;
}
