<html>
    <head>
        <title><b>Parking For Everyone</b></title>
        <link rel="stylesheet" href="../static/login.css"
    </head>
    <body>
        <div class="cuadrototal">
            <div class="div_logo">
                <img src="../static/imagenes/Logo_PFE.jpg" />
            </div>   
            <div class="div_cuerpo">
                <h1>PFE - Parking For Everyone</h1>
                <h3>El mejor parqueadero para su vehículo</h3>
                <hr/>
                <h2>Iniciar sesión</h2>
                <form action="/login" method="post">
                    <label><b>Nombre de usuario</b></label>
                    <br/>
                    <input name="username" placeholder="Digite el usuario..." type="text">
                    <br/>
                    <br/>
                    <label><b>Digite su contraseña<b></b></label>
                    <br/>
                    <input name="passwd" type="password" placeholder="Digite la contraseña....." type="password">
                    <br>
                    <br>
                    <br>
                    <input type="submit" value="Ingresar">
                    {%if acceso%}
                    <h3>¡Acceso Incorrecto!</h3>
                    {%endif%}
                    <br>
                    <br>
                    <a href="#"> Recordar la contraseña</a>
                    <br>
                    <br>
                    <a href="#"> Crear una nueva cuenta</a>
                </form>
                <br><br><br>
                <footer class="footer">
                    <p>Copyright © 2021 PFE-Parking for Everyone – 24 horas.  Todos los derechos reservados.</p>
                </footer>
            </div> 
        </div>
    </body>
</html>