<html>
    <head>
        <title><b>Parking For Everyone</b></title>
        <link rel="stylesheet" href="../static/up_usuario.css"
    </head>
    <body>
        <div class="cuadrototal">
            <div class="div_logo">
                <img src="../static/imagenes/Logo_PFE.jpg" />
            </div>
            <div class="div_cuerpo">
                <h1>PFE - Parking For Everyone</h1>
                <h3>El mejor parqueadero para su vehículo</h3>
                <hr/>
                <h2>Actualización de Usuarios</h2>
                <hr/>
                <form action="/up_usuario" method="post">
                    <label><b>Ingrese el id del usuario: &nbsp;</b></label><input name=id_usuario class="caja" placeholder="Digite el id......" required/> <br> <br>    
                    <input type="submit" value="Consultar" name="actualizado"><br>
                    <br>
                    {%if Noelimina%}
                    </h2 Class="titulo"><b> ¡Usuario No Encontrado!</b></h2>
                    {%endif%}
                    <hr/>
                </form>
                <form action="/datos_up_usuario" method="post">
                    {%for registro in usuarios%}
                    <label><b> id: &nbsp; </b> </label><input name="id_usuario" class="caja" value="{{registro['id_usuario']}}" type="number" readonly/> <br> <br>    
                    <label><b>Nombres:  &nbsp; </b></label><input name="nombres" class="caja" value="{{registro['nombres']}}" type="text" required/> <br> <br>    
                    <label><b>Apellidos:&nbsp; </b> </label><input name="apellidos" class="caja" value="{{registro['apellidos']}}" type="text" required/>   <br><br>   
                    <label><b>Tipo de identificacion:&nbsp; </b> </label>
                    <select  name = "tipo_ident" id="tipo_ident" value="{{registro['tipo_ident']}}"> 
                        <option>Tarjeta de identidad </option>
                        <option>Cédula de ciudadanía </option>
                        <option>Tarjeta de extranjería </option>
                        <option>Cédula de extranjería </option>
                        <option>Pasaporte</option>
                        <opcion>Permiso Especial de Permanencia PEP</opcion>
                    </select><br><br>
                    <label><b>Número de identificacion:&nbsp; </b> </label><input name="numero_ident" class="caja" value="{{registro['numero_ident']}}" type="text" required/><br>    <br>  
                    <label><b>Teléfono:&nbsp;</b>  </label><input name="telefono" class="caja" value="{{registro['telefono']}}" type="text" required/>  <br>    <br>
                    <label><b>Dirección:&nbsp; </b>  </label><input name="direccion" class="caja" value="{{registro['direccion']}}" type="text" required/> <br>  <br>   
                    <label><b>Correo electrónico:&nbsp;</b>  </label><input name="email" class="caja" value="{{registro['email']}}" type="text" required/>  <br>   <br> 
                    <label><b>Rol:&nbsp;</b>  </label> 
                    <select name ="rol_usuario" id="rol_usuario" value="{{registro['rol_usuario']}}"> 
                        <option>Administrador</option>
                        <option>Operario</option>
                    </select>  <br> <br>
                    {%endfor%}
               
                
                    <input type="submit" value="Actualizar usuario" name="actualizado"><br>
                </form>
                <label><a href="/usuarios">Menu anterior &nbsp; | </a></label>
                <label><a href="/login">&nbsp; Salir</a></label><br> 
                <footer class="footer">
                    <p>Copyright © 2021 PFE-Parking for Everyone – 24 horas.  Todos los derechos reservados.</p>
                </footer>
            </div>
        </div>
    </body>
</html>