<html>
    <head>
        <title><b>Parking For Everyone</b></title>
        <link rel="stylesheet" href="../static/ing_usuarios.css"
    </head>
    <body>
        <div class="cuadrototal">
            <div class="div_logo">
                <img src="../static/imagenes/Logo_PFE.jpg" />
            </div>
            <div class="div_cuerpo">
                <h1>PFE - Parking For Everyone</h1>
                <h3>El mejor parqueadero para su vehículo</h3>
                <hr/>
                <h2>Ingreso de Usuarios</h2>
                <hr/>
                <form action="/ing_usuarios" method="post">
                    <label><b>Nombres: &nbsp; </b></label><input name="nombres" class="caja" placeholder="Ingrese nombres......" type="text" required/> <br> <br>    
                    <label><b>Apellidos: &nbsp; </b></label><input name="apellidos" class="caja" placeholder="Ingrese apellidos......" type="text" required/>   <br><br>   
                    <label><b>Tipo de identificacion: </b>&nbsp; </label>
                    <select  name = "tipo_ident" id="tipo_ident"> 
                        <option>Tarjeta de identidad</option>
                        <option>Cédula de ciudadanía</option>
                        <option>Tarjeta de extranjería</option>
                        <option>Cédula de extranjería</option>
                        <option>Pasaporte</option>
                        <opcion>Permiso Especial de Permanencia PEP</opcion>
                    </select><br><br>
                    <label><b>Número de identificación: &nbsp; </b></label><input name="numero_ident" class="caja" placeholder="Ingrese identificación......" type="text" required/><br>    <br>  
                    <label><b>Telefono:&nbsp; </b> </label><input name="telefono" class="caja" placeholder="Ingrese teléfono......" type="text" required/>  <br>    <br>
                    <label><b>Dirección: &nbsp; </b></label><input name="direccion" class="caja" placeholder="Ingrese dirección......" type="text" required/> <br>  <br>   
                    <label><b>Correo electrónico: &nbsp;</b> </label><input name="email" class="caja" placeholder="Ingrese e-mail......" type="text" required/>  <br>   <br> 
                    <label><b>Rol: &nbsp; </b></label> 
                    <select name ="rol_usuario" id="rol_usuario"> 
                        <option>Administrador</option>
                        <option>Operario</option>
                    </select>  <br> <br>
                    <input type="submit" value="Ingresar usuario"><br>
                </form> 
                {%if ingreso%}
                </h2 Class="titulo"><b> ¡Usuario Registrado!</b></h2><br><br>
                {%endif%}  
                <label><a href="/usuarios">Menu anterior  &nbsp;| </a></label>
                <label><a href="/login"> &nbsp;Salir</a></label><br> 
                <hr/>
                <footer class="footer">
                    <p>Copyright © 2021 PFE-Parking for Everyone – 24 horas.  Todos los derechos reservados.</p>
                </footer>
            </div>
        </div>
    </body>
</html>