<html>
    <head>
        <title><b>Parking For Everyone</b></title>
        <link rel="stylesheet" href="../static/del_usuarios.css"
    </head>
    <body>
        <div class="cuadrototal">
            <div class="div_logo">
                <img src="../static/imagenes/Logo_PFE.jpg" />
            </div>
            <div class="div_cuerpo">
                <h1>PFE - Parking For Everyone</h1>
                <h3>El mejor parqueadero para su vehículo</h3>
                <hr/>
                <h2>Eliminar Usuarios</h2>
                <hr/>
                <form action="/del_usuarios" method="post">
                    <label><b>Ingrese el id del usuario a eliminar &nbsp;</b></label><input name=id_usuario class="caja" placeholder="Digite el id......" /> <br> <br>    
                    <br>
                    <br>
                    <input type="submit" value="Aceptar"><br>
                </form> 
                <label><a href="/usuarios">Menu anterior &nbsp; |</a></label>
                <label><a href="/login">&nbsp;Salir</a></label><br> 
                <hr/>
                {%if Noelimina%}
                </h2 Class="titulo"><b> ¡Usuario No Encontrado!</b></h2>
                {%endif%}
                {%if Sielimina%}
                </h2 Class="titulo"><b> ¡Usuario Eliminado!</b></h2>
                {%endif%} 
                <footer class="footer">
                    <p>Copyright © 2021 PFE-Parking for Everyone – 24 horas.  Todos los derechos reservados.</p>
                </footer>
            </div>
        </div>
    </body>
</html>