<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title><b>Parking For Everyone</b></title>
        <link rel="stylesheet" href="../static/get_all_usuarios.css"
    </head>
    <body>
        <div class="cuadrototal">
            <div class="div_logo">
                <img src="../static/imagenes/Logo_PFE.jpg" />
            </div>
            <div class="div_cuerpo">
                <h1>PFE - Parking For Everyone</h1>
                <h3>El mejor parqueadero para su vehículo</h3>
                <hr/>
                
                <h2> Consulta de Usuarios</h2>
                
                <table border="1">
                    <tr>
                        <th>Id Usuario</th><th>Nombres</th><th>Apellidos</th><th>Tipo Identificación</th><th>Número Identificación</th><th>Teléfono</th><th>Dirección</th><th>E-mail</th><th>Rol Usuario</th>
                    </tr>
                    {%for registro in usuarios%}
                        <tr>
                            <td>{{registro["id_usuario"]}}</td>
                            <td>{{registro["nombres"]}}</td>
                            <td>{{registro["apellidos"]}}</td>
                            <td>{{registro["tipo_ident"]}}</td>
                            <td>{{registro["numero_ident"]}}</td>
                            <td>{{registro["telefono"]}}</td>
                            <td>{{registro["direccion"]}}</td>
                            <td>{{registro["email"]}}</td>
                            <td>{{registro["rol_usuario"]}}</td>
                        </tr>
                        {%endfor%}
                </table>
                <br>
                <label><a href="/get_usuarios">Regresar al menu anterior</a></label><br> 
                <br>
                <br>
                <footer class="footer">
                    <p>Copyright © 2021 PFE-Parking for Everyone – 24 horas.  Todos los derechos reservados.</p>
                </footer>
            </div> 
        </div>      
    </body>
</html>
